<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->

<style type="text/css">
.bg-cover {
	background-image: url("/img/jumbobg.jpg");
	background-position: center center;
	position: relative;
	z-index: -2;
	/*filter: blur(2px);*/
}

.overlay {
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.jumbotron {
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-shadow: 2px 2px #000;
}
</style>

<title th:text="${pageTitle}"></title>
</head>

<body class="text-white bg-secondary">
	<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/singles">Singles</a>
			</li>
			<li class="nav-item active"><a class="nav-link" href="/albums">Albums</a>
			</li>
		</ul>
	</nav>
	<div class="jumbotron text-center bg-cover">
		<div class="overlay"></div>
		<h1>Top Ten Albums in 1945</h1>
		<h2></h2>
		<br />

	</div>


	<div class="container">

		<p>This site will contain information about the Top Ten Music in
			1945</p>

		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th class="text-center">Title</th>
					<th class="text-center">Artist</th>
					<th class="text-center">Cover</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="album:${topTen}">
					<td class="text-center align-middle" th:text="${album.title}"></td>
					<td class="text-center align-middle" th:text="${album.artist}"></td>
					<td class="text-center align-middle"><img
						th:src="@{|/img/${album.cover}|}" height="200px" width="200px" /></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>
