<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="text-center align-middle d-block"
	style="background-image: url('/img/emmet-404 lego boy.png'); background-repeat: no-repeat; text-size: 100px">
	<div class="row">
		<div class="col-sm-8"></div>
		<div class="col-sm-2 align-middle m-50" style="top:100px">
		<p class="display-1">404</p>
		<p>Page Not Found!</p>
		</div>
		<div class="col-sm-2"></div>
	</div>
</body>

</html>